body{
    margin: 0px;
}

* img{
    width: 100% !important;
    object-fit: cover !important;
    height: 100% !important;
}

.content{
    background-image: url('http://unsplash.it/2000/2000?random');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.contact-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact-image > div{
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact{
    flex-direction: column;
    flex-wrap: wrap;
}

.image-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-about > div{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-about > div:nth-child(2) > p{
    width: 95%;
}